{% extends "base.html" %}

{% block footer %}{%endblock%}
{% block header %}{%endblock%}
{% block extra_head %}
<style>
    #content .content-block {background: none !important;}


    #login {
        background-color: rgba(245, 245, 245, 0.8);
        height: 450px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        }
    #login h1{
        text-align: center;
        font-weight: 100;
        }

    #login > input {
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 15px;
       height: 25px;
       border: none;
       padding-left: 10px;
        }
    #login-submit {
        height: initial !important;
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        color: teal;
        }

</style>
{% endblock %}

{% block content %}
<form action="{{ url_for('meta.login') }}" method="post" id="login">
    <h1 class="text-center">login</h1>
    <input placeholder="Username" name="username" type="text">
    <input placeholder="Password" name="password" type="password">
    <input id="login-submit" type="submit" value="Submit">
</form>
{% endblock %}