<VirtualHost *:80>
		ServerName {server_name}
		{server_alias}
		ServerAdmin {server_admin}
		WSGIScriptAlias / /var/www/{project_name}/{project_name}.wsgi
		<Directory /var/www/{project_name}/webroot/>
			Order allow,deny
			Allow from all
		</Directory>
		Alias /static /var/www/{project_name}/webroot/static
		<Directory /var/www/{project_name}/webroot/static/>
			Order allow,deny
			Allow from all
		</Directory>
		ErrorLog /var/www/{project_name}/error.log
		LogLevel warn
		CustomLog /var/www/{project_name}/access.log combined
</VirtualHost>